<a href="https://colab.research.google.com/github/UserDongHu/Ormi3/blob/main/%EC%98%A4%EB%A5%B4%EB%AF%B83%EA%B8%B0_python_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 리스트

In [ ]:
# 시퀀스형 자료형
a = 'hello world'
a[0]
a[:5]

'hello'

In [ ]:
range(10)[3]

3

In [ ]:
range(100)[3::5]

range(3, 100, 5)

In [ ]:
enumerate([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], 100)

In [2]:
b = b'world' # 유니코드표 X, 아스키코드표에서 찾습니다.
b[0]

119

In [3]:
b'' # 바이트
f'' # f-string 용법
r'' # raw값 출력

''

In [ ]:
# 덧셈과 곱셈
a = [1, 2, 3, 4, 5]
b = [6, 7, 8]

print(a + b)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
a = [1, 2, 3, 4, 5]
print(a * 3) # [1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [ ]:
a = [1, 2, 3]
a = [a * 2] * 2 # 리스트 컴프리헨션 사용해서 만드는것을 권장.

print(a)
id(a[0]), id(a[1])
a[0][0] = 10000
a

[[1, 2, 3, 1, 2, 3], [1, 2, 3, 1, 2, 3]]

[[10000, 2, 3, 1, 2, 3], [10000, 2, 3, 1, 2, 3]]

In [ ]:
l = [1, 2, 3, 4, 5]
print(l[:])     # 출력: [1, 2, 3, 4, 5]
print(l[::-1])  # 출력: [5, 4, 3, 2, 1]
print(l[::2])   # 출력: [1, 3, 5]

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
[1, 3, 5]

In [ ]:
l = [1, 2, 3, 4, 5]
print(type(l))
print(dir(l))

<class 'list'>
['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [ ]:
# [1, 2, 3] + [1, 2, 3] = [1, 2, 3, 1, 2, 3]
# 요소마다 더해지는것이 아님. __add__에 구현이 되어있는 것.
# _add__에 요소마다 더하는것으로 구현이 되어 있었다면 [2, 4, 6]을 출력했을 것.

In [ ]:
import numpy as np

l = [1, 2, 3]
l = np.array(l)
print(l * 3)
print(l + l)
# 너무 당연하게 요소를 붙이는 것이다라고 생각하지는 않으셨으면 좋겠습니다.

[3 6 9]
[2 4 6]

In [ ]:
# 문제: 이 데이터에서 licat을 출력해주세요. 단, 직접 접근은 안됩니다. data[1]로 접근 X
data = [['weniv CTO binky', 2], ['weniv CEO licat', 1], ['weniv COO mura', 2]]
sum(list(filter(lambda x: x[1] == 1, data)), [])[0].split(' ')[2]

'licat'

# 연습문제

In [ ]:
# 문제1: 다음 함수 is_palindrome를 완성하시오. 이 함수는 하나의 문자열을 인자로 받아, 해당 문자열이 팰린드롬(앞으로 읽으나 뒤로 읽으나 같은 단어나 구)이면 True를, 아니면 False를 반환해야 합니다.
def is_palindrome(s):
    return True if list(reversed(s)) == list(s) else False

print(is_palindrome("level"))  # 결과: True
print(is_palindrome("python")) # 결과: False

True
False

In [ ]:
# 문제2: 리스트 numbers가 주어졌을 때, 이 리스트 내의 모든 짝수를 제거하는 코드를 작성하시오.
numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10]
numbers = list(filter(lambda x: x%2==1, numbers))
print(numbers)  # 결과: [3, 5, 7, 9]

[3, 5, 7, 9]

# 리스트(이어서)

In [4]:
z = [
    10,
    20,
    30,
    40,
]
print(z[0])

10

In [5]:
sum([1, 2, 3, 4])

10

In [19]:
# list(range(101))과 슬라이싱을 사용해 아래 문제를 풀어주세요.

# 문제 1: 짝수를 모두 더해주세요
# 문제 2: 3의 배수와 5의 배수를 모두 더해주세요.
# 문제 3: 1부터 90까지의 짝수를 모두 더해주세요.

a = list(range(101))
print(sum(a[::2]))
print(sum(set(a[::3]+a[::5])))

# 실무에서도 이렇게 자주 사용
sum(a[:91][::2])

2550
2418

2070

In [21]:
l = [1, 2, 3]
dir(l)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [24]:
# append
l = [1, 2, 3]
l.append(100)
print(l)

[1, 2, 3, 100]

In [27]:
# clear
l.clear()
print(l)

[]

In [38]:
# copy
l = [10, 20, 30]
ll = l
print(id(l), id(ll)) # 같은 주소
l[0] = 1000 # 둘다 수정됨
print(l, ll)

ll = l.copy()
print(id(l), id(ll)) # 다른 주소
l[0] = 10
print(l, ll)

# copy랑 같음
ll = l[:]
print(id(l), id(ll)) # 다른 주소
l[0] = 1
print(l, ll)

136443233105536 136443233105536
[1000, 20, 30] [1000, 20, 30]
136443233105536 136442389991360
[10, 20, 30] [1000, 20, 30]
136443233105536 136442391672320
[1, 20, 30] [10, 20, 30]

In [46]:
# 이정도 까지는 알아야함
a = [10, 20]
b = [100, 200]

l = [a, b]
ll = l.copy()
print(id(l), id(ll))
print(id(l[0]), id((ll)[0])) # 같은 주소
l[0][0] = 1000 # 둘다 바뀜
print(l, ll)

136442390987136 136442390002624
136442390599168 136442390599168
[[1000, 20], [100, 200]] [[1000, 20], [100, 200]]

In [47]:
import copy
# 많이 사용되지는 않음

a = [10, 20]
b = [100, 200]

l = [a, b]
ll = copy.deepcopy(l)

print(id(l), id(ll))
print(id(l[0]), id((ll)[0]))
l[0][0] = 100000
print(l, ll)

136442392091264 136442390400384
136442389998080 136442390384384
[[100000, 20], [100, 200]] [[10, 20], [100, 200]]

In [50]:
k = [99, 999]
a = [10, k]
b = [100, k]

l = [a, b]
ll = copy.deepcopy(l)

k[0] = 100000
print(l, ll)

[[10, [100000, 999]], [100, [100000, 999]]] [[10, [99, 999]], [100, [99, 999]]]

In [55]:
# count
print([1, 1, 1, 3, 3, 5, 6,].count(1))

print(list('1113356').count('1'))

3
3

In [62]:
# extend
l = [10, 20, 30]
l.extend([10, 20])
print(l)

l.extend('hello')
print(l)

# 한 자리씩 잘라서 숫자 넣기
userinput = input('숫자를 입력하세요: ')
l.extend(map(int,userinput))
print(l)

[10, 20, 30, 10, 20]
[10, 20, 30, 10, 20, 'h', 'e', 'l', 'l', 'o']
숫자를 입력하세요: 123
[10, 20, 30, 10, 20, 'h', 'e', 'l', 'l', 'o', 1, 2, 3]

In [65]:
# insert
l = [10, 20, 30, 40, 50]
l.insert(2, 25)
print(l)

[10, 20, 25, 30, 40, 50]

In [76]:
# [10, 20, 40, 50, 30]와 같은 리스트에서 20과 30 중간에 25라는 값을 삽입하고 싶습니다.
# 리스트를 정렬하고 20과 30의 값을 index 메서드로 찾아서 insert로 중간에 값을 삽입해주세요.

l = [10, 20, 40, 50, 30]
l = sorted(l)
l.insert(l.index(30), 25)
print(l)

[10, 20, 25, 30, 40, 50]

In [83]:
# pop
l = [10, 20, 30, 40, 50]
print(l.pop())
print(l)

print(l.pop(0)) # 첫번째에서 빼는 것
print(l)

l = [1, 2, 3, 4, 5]
while l:
    print(l.pop(0))

50
[10, 20, 30, 40]
10
[20, 30, 40]
1
2
3
4
5

In [94]:
# remove
a = [1, 2, 3, 1, 2]
a.remove(2) # 처음에 만나는 2만 제거
print(a)

# 다 제거하고싶으면
l = [1, 2, 3, 1, 2]
print(list(filter(lambda x:x!=2,l)))

l = [1, 2, 3, 1, 2]
while l.count(2):
    l.remove(2)
print(l)

l = [1, 2, 3, 1, 2]
while 2 in l:
    l.remove(2)
print(l)

[1, 3, 1, 2]
[1, 3, 1]
[1, 3, 1]
[1, 3, 1]

In [95]:
# reverse
l = [1, 2, 10, 3, 4]
l.reverse()
print(l)

[4, 3, 10, 2, 1]

In [105]:
# reversed와 reverse의 차이 sorted와 sort 차이
# 원본 수정이 아니냐 원본 수정이냐

l = [1, 2, 10, 3, 4]
print(list(reversed(l)))
print(l) # 원본은 그대로

print(l.reverse()) # 출력 None
print(l) # 원본이 수정됨

l = [1, 2, 10, 3, 4]
print(sorted(l))
print(l) # 원본은 그대로

print(l.sort()) # 출력 None
print(l) # 원본이 수정됨

[4, 3, 10, 2, 1]
[1, 2, 10, 3, 4]
None
[4, 3, 10, 2, 1]
[1, 2, 3, 4, 10]
[1, 2, 10, 3, 4]
None
[1, 2, 3, 4, 10]

In [ ]:
# 게시판 = [게시물1, 게시물2, 게시물3, 게시물4]
# 게시물1: 오래된 게시물이 저장이 되어 있을겁니다. (append로 게시물 추가했다고 생각해볼게요.)
# 그러면 그냥 게시판을 출력했을 때 최상단에 노출되는 게시물은 가장 오래된 게시물일겁니다.
# 컴퓨터 입장에서는요.
# 그래서 게시판.reverse()해서 출력합니다. 최신게시물이 상단에 오게요.
# 그러면 게시물5는 어디에 추가 될까요? 원본을 수정했기 때문에 게시물1 다음에 게시물5가 추가되요.
# 게시판[::-1], reversed(게시판)을 사용해서 역순으로 만들었어야 했습니다.

# 튜플

In [107]:
# 튜플은 안에 있는 값이 변경 불가능한 자료형이 아닙니다.
# 튜플은 참조 불변입니다.
# 리스트에 비해 처리 속도가 조금 더 빠릅니다.

x = (1, 2, 3)
# x[0] = 1000 Error

In [108]:
x = [10, 20, 30]
y = (1, 2, x)
x[0] = 1000
y # 출력: (1, 2, [1000, 20, 30])

(1, 2, [1000, 20, 30])

In [111]:
# 데이터의 변경이 민감한 곳
# 참조의 갯수가 변하면 안되는 곳
s = {'one':1, 'two':2}
print(s.items())

dict_items([('one', 1), ('two', 2)])

In [113]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
tuple3 = tuple1 + tuple2
print(tuple3)

(1, 2, 3, 4, 5, 6)

In [115]:
t = (1, 2, 3, 4, 5)
print(t[0])
print(t[:3])

1
(1, 2, 3)

In [116]:
t = (1, 1, 1, 2, 3, 4)
print(t.count(1))
print(t.index(3))

3
4

# 딕셔너리

In [118]:
# 딕셔너리는 3.6 버전부터 삽입 순서가 보장

In [121]:
d = {'bb': 100, 'hello': 10, 'world': 20, 'aa': 30}
print(d)

{'bb': 100, 'hello': 10, 'world': 20, 'aa': 30}

In [122]:
d = dict([('one' , '하나'), ('two', '둘')])
print(d)

{'one': '하나', 'two': '둘'}

In [125]:
d = dict([['one' , '하나'], ['two', '둘']])
print(d)

{'one': '하나', 'two': '둘'}

In [127]:
d = dict([['aa'], ['dd']]) # Error

ValueError: ignored

In [129]:
d = dict(name='licat', age=10)
print(d)

{'name': 'licat', 'age': 10}

In [133]:
complex_dict = {
    "numbers": [1, 2, 3],
    42: "answer",
    ("x", "y"): [10, 20],
    True: [100, 200]
}
print(complex_dict["numbers"])  # 출력: [1, 2, 3]
print(complex_dict[42])         # 출력: answer
print(complex_dict[("x", "y")]) # 출력: [10, 20]
print(complex_dict[True]) # [100, 200]

[1, 2, 3]
answer
[10, 20]
[100, 200]

In [136]:
person = {'name': 'licat', 'city': 'Jeju'}
person['name'] = 'mura'
person['city'] = 'Seoul'

print(person)

person['age'] = 19
print(person)

{'name': 'mura', 'city': 'Seoul'}
{'name': 'mura', 'city': 'Seoul', 'age': 19}

In [138]:
keys = ["name", "city", "job"]
values = ["licat", "Jeju", "Developer"]

new_dict = dict(zip(keys, values))
print(new_dict)

{'name': 'licat', 'city': 'Jeju', 'job': 'Developer'}

In [140]:
hero = {'name': 'licat', 'age': 10}
dir(hero)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [144]:
# copy
hero = {'name': 'licat', 'age': 10}
hero2 = hero
hero2['name'] = 'mura'
print(hero, hero2)

hero = {'name': 'licat', 'age': 10}
hero2 = hero.copy()
hero2['name'] = 'mura'
print(hero, hero2)

{'name': 'mura', 'age': 10} {'name': 'mura', 'age': 10}
{'name': 'licat', 'age': 10} {'name': 'mura', 'age': 10}

In [149]:
# items
hero = {'name': 'licat', 'age': 10}
print(hero.items())
print(type(hero.items()))
print(list(hero.items())[0])

dict_items([('name', 'licat'), ('age', 10)])
<class 'dict_items'>
('name', 'licat')

In [152]:
# keys
hero = {'name': 'licat', 'age': 10}
print(hero.keys())
print(type(hero.keys()))

for i in hero.keys():
    print(i)

dict_keys(['name', 'age'])
<class 'dict_keys'>
name
age

In [155]:
# values
hero = {'name': 'licat', 'age': 10}
print(hero.values())
print(type(hero.values()))

dict_values(['licat', 10])
<class 'dict_values'>

In [158]:
hero = {'name': 'licat', 'age': 10}

# 'licat' in hero # False
# 'name' in hero # True 키 값을 찾는 것만 됩니다.

'licat' in hero.values() # 아이템값은 이렇게

True

In [18]:
# fromkeys
keys = ['name', 'city', 'job']
values = None
print(dict.fromkeys(keys, values))

{'name': None, 'city': None, 'job': None}

In [30]:
# get
d = {'name': 'licat', 'city': 'Jeju'}
print(d['name'])
print(d.get('name')) # 기억하고 있어야함

# print(d['age']) # Error
print(d.get('age', '값 없음!')) # 값 없음! 출력

licat
licat
값 없음!

In [38]:
def 요일변경(n):
    return {
        1: '월요일',
        2: '화요일',
        3: '수요일',
        4: '목요일',
        5: '금요일',
        6: '토요일',
        7: '일요일',
    }[n]

print(요일변경(3))
# print(요일변경(8)) # Error 서비스 멈춤

# 아래와 같이 변경
def 요일변경(w):
    return {
        '월': '월요일',
        '화': '화요일',
        '수': '수요일',
        '목': '목요일',
        '금': '금요일',
        '토': '토요일',
        '일': '일요일',
    }.get(w) # 기본이 None

print(요일변경('왓'))

수요일
None

In [46]:
# pop
numbers = {'one': '하나', 'two': '둘', 'three': '셋'}
one_value = numbers.pop('one')
print(one_value)
print(numbers)

# numbers.pop() # Error

하나
{'two': '둘', 'three': '셋'}

In [47]:
# popitem
numbers = {'one': '하나', 'two': '둘', 'three': '셋'}
item = numbers.popitem()
print(item)
print(numbers)

('three', '셋')
{'one': '하나', 'two': '둘'}

In [49]:
# setdefault
numbers = {'one': '하나', 'two': '둘', 'three': '셋'}
four_value = numbers.setdefault("four", "넷") # 키가 없으면 넣고
print(four_value)
print(numbers)

three_value = numbers.setdefault("three", '3') # 있으면 안넣음
print(three_value)
print(numbers)

넷
{'one': '하나', 'two': '둘', 'three': '셋', 'four': '넷'}
셋
{'one': '하나', 'two': '둘', 'three': '셋', 'four': '넷'}

In [52]:
# update
numbers = {'one': '하나', 'two': '둘', 'three': '셋'}
numbers.update({'four': '넷', 'five': '다섯'}) # 값이 있든 없든 넣음
print(numbers)

numbers.update({'three': '3'}) # 있으면 바꿈
print(numbers)

{'one': '하나', 'two': '둘', 'three': '셋', 'four': '넷', 'five': '다섯'}
{'one': '하나', 'two': '둘', 'three': '3', 'four': '넷', 'five': '다섯'}

# 연습문제

In [93]:
국영수 = {'국어': 97, '영어': 38, '수학': 90}
# 문제1: 다음 국영수 dict의 점수 평균을 구하는 코드를 작성하세요.
print(sum(국영수.values())/len(국영수))

# 문제2: {'사회': 70, '과학': 85}가 추가되었습니다. dict의 평균을 구하는 코드를 작성하세요.
국영수.update({'사회': 70, '과학': 85})
print(sum(국영수.values())/len(국영수))

# 문제3: 영어와 수학점수가 각각 10점씩 올랐습니다. 점수를 추가하는 코드를 작성하세요.
국영수.update({'영어': 국영수.get('영어')+10, '수학': 국영수.get('수학')+10})
print(국영수)

# 문제4: 최종 점수에서 가장 높은 점수를 출력하는 코드를 작성하세요.
print(max(국영수.values()))

# 문제5: 가장 높은 점수인 과목을 출력해주세요.
print(max(국영수.items(), key=lambda x:x[1])[0])

print(max(국영수, key=국영수.get)) # 제일 깔끔

values = list(국영수.values())
print(list(국영수.keys())[values.index(max(values))])

print(sorted(국영수.items(), key=lambda x:x[1], reverse=True)[0][0])

75.0
76.0
{'국어': 97, '영어': 48, '수학': 100, '사회': 70, '과학': 85}
100
수학
수학
수학
수학

In [97]:
# 여러개의 딕셔너리를 왔다갔다 하면서 key 값으로 value 값을 비교할 때에도 사용합니다.
local = {'제주': 100, '서울': 977, '부산': 500}
강우량 = {'제주': 100, '서울': 97, '부산': 50}
print(max(강우량, key=local.get))

서울

In [108]:
d = {'a': 10, 'bb': 9, 'c': 5, 'd': 6}
print(max(d)) # 유니코드가 가장 큰 key값을 출력
print(max(d, key=len)) # 가장 길이가 긴 key값을 출력
print(max(d, key=d.get)) # d.get에서 반환된 값에서 가장 큰 값의 key값을 출력하겠다.

d

'a'

# Set(집합)

In [109]:
# 1. 중복이 되지 않습니다.
# 2. 순서가 없습니다.
# 3 . 교집합, 차집합, 합집합 등이 가능합니다.

In [113]:
print(set('hello'))

s = {'licat', 'licat', 'mura', 'binky'}
len(s)

{'e', 'o', 'l', 'h'}

3

In [122]:
# 주의
t = {} # dict
t = () # tuple
t = tuple() # 빈 튜플
t = (0) # int
t = (0,) # tuple
t = {0} # set
t = set() # 빈 집합
type(t)

set

In [132]:
# 합집합
s = {1, 1, 1, 2, 3, 4, 4, 4}
ss = {4, 5, 6}

s | ss

{1, 2, 3, 4, 5, 6}

In [127]:
# 교집합
s = {1, 1, 1, 2, 3, 4, 4, 4}
ss = {4, 5, 6}

s & ss

{4}

In [129]:
# 차집합
s = {1, 1, 1, 2, 3, 4, 4, 4}
ss = {4, 5, 6}

s - ss

{1, 2, 3}

In [131]:
# 불만인 것
# s + ss # Error

In [135]:
# add
s.add(100)
s

{1, 2, 3, 4, 100}

In [141]:
# remove
# s.remove(1000) #Error 있는 값만을 해야함.
s.discard(100) # Error을 발생시키지는 않습니다.
s

{1, 2, 3, 4}

# 리스트 컴프리헨션

In [144]:
l = []
for i in range(10):
    l.append(i)
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [147]:
l = [i for i in range(10)]
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [152]:
l = []
for i in range(10):
    l.append(f'{i}입니다!')
print(l)

l = [f'{i}입니다!' for i in range(10)]
print(l)

['0입니다!', '1입니다!', '2입니다!', '3입니다!', '4입니다!', '5입니다!', '6입니다!', '7입니다!', '8입니다!', '9입니다!']
['0입니다!', '1입니다!', '2입니다!', '3입니다!', '4입니다!', '5입니다!', '6입니다!', '7입니다!', '8입니다!', '9입니다!']

In [154]:
l = []
for i in range(2, 10):
    for j in range(1, 10):
        l.append(f'{i} X {j} = {i*j}')
print(l)

['2 X 1 = 2', '2 X 2 = 4', '2 X 3 = 6', '2 X 4 = 8', '2 X 5 = 10', '2 X 6 = 12', '2 X 7 = 14', '2 X 8 = 16', '2 X 9 = 18', '3 X 1 = 3', '3 X 2 = 6', '3 X 3 = 9', '3 X 4 = 12', '3 X 5 = 15', '3 X 6 = 18', '3 X 7 = 21', '3 X 8 = 24', '3 X 9 = 27', '4 X 1 = 4', '4 X 2 = 8', '4 X 3 = 12', '4 X 4 = 16', '4 X 5 = 20', '4 X 6 = 24', '4 X 7 = 28', '4 X 8 = 32', '4 X 9 = 36', '5 X 1 = 5', '5 X 2 = 10', '5 X 3 = 15', '5 X 4 = 20', '5 X 5 = 25', '5 X 6 = 30', '5 X 7 = 35', '5 X 8 = 40', '5 X 9 = 45', '6 X 1 = 6', '6 X 2 = 12', '6 X 3 = 18', '6 X 4 = 24', '6 X 5 = 30', '6 X 6 = 36', '6 X 7 = 42', '6 X 8 = 48', '6 X 9 = 54', '7 X 1 = 7', '7 X 2 = 14', '7 X 3 = 21', '7 X 4 = 28', '7 X 5 = 35', '7 X 6 = 42', '7 X 7 = 49', '7 X 8 = 56', '7 X 9 = 63', '8 X 1 = 8', '8 X 2 = 16', '8 X 3 = 24', '8 X 4 = 32', '8 X 5 = 40', '8 X 6 = 48', '8 X 7 = 56', '8 X 8 = 64', '8 X 9 = 72', '9 X 1 = 9', '9 X 2 = 18', '9 X 3 = 27', '9 X 4 = 36', '9 X 5 = 45', '9 X 6 = 54', '9 X 7 = 63', '9 X 8 = 72', '9 X 9 = 81']

In [157]:
l = [f'{i} X {j} = {i*j}' for i in range(2, 10) for j in range(1, 10)]
print(l)

['2 X 1 = 2', '2 X 2 = 4', '2 X 3 = 6', '2 X 4 = 8', '2 X 5 = 10', '2 X 6 = 12', '2 X 7 = 14', '2 X 8 = 16', '2 X 9 = 18', '3 X 1 = 3', '3 X 2 = 6', '3 X 3 = 9', '3 X 4 = 12', '3 X 5 = 15', '3 X 6 = 18', '3 X 7 = 21', '3 X 8 = 24', '3 X 9 = 27', '4 X 1 = 4', '4 X 2 = 8', '4 X 3 = 12', '4 X 4 = 16', '4 X 5 = 20', '4 X 6 = 24', '4 X 7 = 28', '4 X 8 = 32', '4 X 9 = 36', '5 X 1 = 5', '5 X 2 = 10', '5 X 3 = 15', '5 X 4 = 20', '5 X 5 = 25', '5 X 6 = 30', '5 X 7 = 35', '5 X 8 = 40', '5 X 9 = 45', '6 X 1 = 6', '6 X 2 = 12', '6 X 3 = 18', '6 X 4 = 24', '6 X 5 = 30', '6 X 6 = 36', '6 X 7 = 42', '6 X 8 = 48', '6 X 9 = 54', '7 X 1 = 7', '7 X 2 = 14', '7 X 3 = 21', '7 X 4 = 28', '7 X 5 = 35', '7 X 6 = 42', '7 X 7 = 49', '7 X 8 = 56', '7 X 9 = 63', '8 X 1 = 8', '8 X 2 = 16', '8 X 3 = 24', '8 X 4 = 32', '8 X 5 = 40', '8 X 6 = 48', '8 X 7 = 56', '8 X 8 = 64', '8 X 9 = 72', '9 X 1 = 9', '9 X 2 = 18', '9 X 3 = 27', '9 X 4 = 36', '9 X 5 = 45', '9 X 6 = 54', '9 X 7 = 63', '9 X 8 = 72', '9 X 9 = 81']

In [159]:
for i in range(10):
    if i % 2 == 0:
        l.append(i)
print(l)

['2 X 1 = 2', '2 X 2 = 4', '2 X 3 = 6', '2 X 4 = 8', '2 X 5 = 10', '2 X 6 = 12', '2 X 7 = 14', '2 X 8 = 16', '2 X 9 = 18', '3 X 1 = 3', '3 X 2 = 6', '3 X 3 = 9', '3 X 4 = 12', '3 X 5 = 15', '3 X 6 = 18', '3 X 7 = 21', '3 X 8 = 24', '3 X 9 = 27', '4 X 1 = 4', '4 X 2 = 8', '4 X 3 = 12', '4 X 4 = 16', '4 X 5 = 20', '4 X 6 = 24', '4 X 7 = 28', '4 X 8 = 32', '4 X 9 = 36', '5 X 1 = 5', '5 X 2 = 10', '5 X 3 = 15', '5 X 4 = 20', '5 X 5 = 25', '5 X 6 = 30', '5 X 7 = 35', '5 X 8 = 40', '5 X 9 = 45', '6 X 1 = 6', '6 X 2 = 12', '6 X 3 = 18', '6 X 4 = 24', '6 X 5 = 30', '6 X 6 = 36', '6 X 7 = 42', '6 X 8 = 48', '6 X 9 = 54', '7 X 1 = 7', '7 X 2 = 14', '7 X 3 = 21', '7 X 4 = 28', '7 X 5 = 35', '7 X 6 = 42', '7 X 7 = 49', '7 X 8 = 56', '7 X 9 = 63', '8 X 1 = 8', '8 X 2 = 16', '8 X 3 = 24', '8 X 4 = 32', '8 X 5 = 40', '8 X 6 = 48', '8 X 7 = 56', '8 X 8 = 64', '8 X 9 = 72', '9 X 1 = 9', '9 X 2 = 18', '9 X 3 = 27', '9 X 4 = 36', '9 X 5 = 45', '9 X 6 = 54', '9 X 7 = 63', '9 X 8 = 72', '9 X 9 = 81', 0, 2, 4, 6, 8, 0, 2, 4, 6, 8]

In [161]:
l = [i for i in range(10) if i % 2 == 0]
print(l)

[0, 2, 4, 6, 8]

In [164]:
l = []
for i in range(10):
    if i % 2 == 0:
        l.append(i)
    else:
        l.append(None)
print(l)

[0, None, 2, None, 4, None, 6, None, 8, None]

In [166]:
l = [i if i % 2 == 0 else None for i in range(10)]
print(l)

[0, None, 2, None, 4, None, 6, None, 8, None]

# 얕은 복사와 깊은 복사

In [2]:
l = [1, 2, 3]
ll = l.copy()
print(l)

[1, 2, 3]

In [5]:
import copy

a = [1, 2]
b = [3, 4]

aa = [10, 20, a]
bb = [30, 40, b]

aaa = [100, 200, aa]
bbb = [300, 400, bb]

l = [aaa, bbb]
ll = copy.deepcopy(l) # 깊은 복사

a[0] = 99
print(l)
print(ll)

[[100, 200, [10, 20, [99, 2]]], [300, 400, [30, 40, [3, 4]]]]
[[100, 200, [10, 20, [1, 2]]], [300, 400, [30, 40, [3, 4]]]]

In [8]:
# 리스트 컴프리헨션으로 얕은 복사 구현
l = [[1, 2, 3], [4, 5, 6]]
ll = [i for i in l]
ll[0][0] = 1000
print(l)
print(ll)

[[1000, 2, 3], [4, 5, 6]]
[[1000, 2, 3], [4, 5, 6]]

In [11]:
# 리스트 컴프리헨션으로 깊은 복사 구현(완전하진 않습니다)
l = [[1, 2, 3], [4, 5, 6]]
ll = [i[:] for i in l]
ll[0][0] = 1000
print(l)
print(ll)

# 위와 같은 방식으로 했을 때 완전하지 않은 코드
a = [9, 99]

l = [[1, 2, a], [4, 5, 6]]
ll = [i[:] for i in l]
a[0] = 10000
print(l)
print(ll)

[[1, 2, 3], [4, 5, 6]]
[[1000, 2, 3], [4, 5, 6]]
[[1, 2, [10000, 99]], [4, 5, 6]]
[[1, 2, [10000, 99]], [4, 5, 6]]

In [12]:
a = [9999, 9999, 9999]
b = copy.deepcopy(a)
c = copy.deepcopy(b)
print(a, b, c)

print(id(a[0]), id(b[0]), id(c[0]))

[9999, 9999, 9999] [9999, 9999, 9999] [9999, 9999, 9999]
134371344844368 134371344844368 134371344844368

In [14]:
c = [9999, 9999, 9999]
id(c[0]), id(c[1]), id(c[2])
c[0] is c[1]
# 같은 컨벤션 내에 지정된 숫자는 동일한 메모리에 저장

True

In [16]:
test = {'one':9999, 'two':9998, 'three':9999}
id(test['one']), id(test['two']), id(test['three'])
#같은 컨벤션 내에 지정된 숫자는 동일한 메모리에 저장

(134371344846128, 134371344845968, 134371344846128)