<a href="https://colab.research.google.com/github/UserDongHu/Ormi3/blob/main/%EC%98%A4%EB%A5%B4%EB%AF%B83%EA%B8%B0_python_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 연산과 구문

# 산술연산자

In [ ]:
{'one':1} + {'two':2} # Error
{5} + {6} # Error

TypeError: ignored

In [ ]:
-2 * 2
-2 **2 # 주의

-4

In [ ]:
result = [1, 2, 3] * 2
print(result)

[1, 2, 3, 1, 2, 3]

In [ ]:
a = 10
b = 2
print(a / b) # 결과 5.0
print(a // b) # 결과 5

5.0
5

In [ ]:
# python에서 //는 몫이 아닙니다!
# 내림입니다!
a = -5
b = 2
print(a // b)

-3

In [ ]:
10 / 0 # ZeroDivisionError

ZeroDivisionError: ignored

In [ ]:
a = 10
b = 3
divide = a / b
print(f'{a} ÷ {b} = {divide:.2f}')  # 결과: 10 ÷ 3 = 3.33

10 ÷ 3 = 3.33

In [ ]:
10 % 3.3

0.10000000000000053

In [ ]:
(100 % 33) / 10 # 소숫점 1자리까지 출력해야 한다

0.1

In [ ]:
(1000 % 331) / 100 # 소숫점 2자리까지 출력해야 한다한다

0.07

In [ ]:
10 % 0 # ZeroDivisionError

ZeroDivisionError: ignored

# 비교연산자

In [ ]:
5 == '5'

False

In [ ]:
print('apple' < 'banana') # 유니코드 기준

True

In [ ]:
x = 10
5 < x < 15

True

In [ ]:
[10, 20, 30] > [20, 30, 40] # False 맨 앞자리 비교

False

# 논리연산자

In [ ]:
print(True and False)
print(True and True)
print(True or False)
print(True or True)

False
True
True
True

In [ ]:
for i in range(101):
    if i % 3 == 0 and i % 5 == 0:
        print(i)

0
15
30
45
60
75
90

In [ ]:
# 여기서부터는 나아가기 입니다.
a = True
b = False
a and b and ccc and ddd # b가 False라 뒤에는 안봄. 없는 변수 넣어도 실행됨

False

In [ ]:
a = True
b = False
a or b or asdf or asdf # 마찬가지로 a가 True라서 뒤에는 안봄.

True

In [ ]:
a = True
b = False
c = False
d = True

a and b or c and d
(a and b) or (c and d)

False

In [ ]:
a = True
b = False
c = False
d = True

a and not b or c and d
(a and (not b)) or (c and d)

True

In [ ]:
# 단락회로평가
a = 'hello'
b = ''
print(a or b)

hello

In [ ]:
a = ''
b = 'world'
a or b

'world'

In [ ]:
username = ''
username = username or '이름을 정하지 않았습니다.'
username

'이름을 정하지 않았습니다.'

In [ ]:
username = 'licat'
username = username or '이름을 정하지 않았습니다.'
username

'licat'

In [ ]:
# result = functionA() or functionB()
# 앞의 값이 None이나 0이 아니라면 뒤의 값으로 result를 만들겠다는 얘기

# 할당연산

In [ ]:
x = 10
y = 20

In [ ]:
x = x + 1

In [ ]:
x += 1

In [ ]:
x /= 1
x //= 1
x **= 1
x *= 1
x %= 1

# id 연산자, is 연산자, is not 연산자

In [ ]:
a = 10000
b = 10000
a is b

False

In [ ]:
id(a), id(b)

(137880992029264, 137880992034352)

In [ ]:
a = [1, 2, 3]
b = [1, 2, 3]
a is b

False

# 연습문제

In [ ]:
# 문제 1번
x = 3
y = 5
result = (isinstance(x, int) and isinstance(y, int) and x + y) # 여기에 논리연산자를 더 붙여 두 수를 더하는 코드를 만들어보세요.
result # 8이 출력되어야 합니다.

8

In [ ]:
# 문제 2번
# 다음 출력값은 무엇일까요? 왜 그러한가요?
print('hello' < 'hell o') # False : hell까지 같아서 o와 공백의 유니코드값을 비교.
print([10, 20, 30] < [10, 19, 100]) # False : 10이 같으므로 20과 19값을 비교.
print(10 % 3.3 == 0.1) # False : 부동소수점 때문에 같지 않다.

False
False
False

In [ ]:
# 문제 3번
# 어떤 이메일을 쓰고 있는지 출력하는 코드를 작성해주세요.
email2 = 'abc@gmail.com' # gmail
email3 = 'abc@naver.com' # naver
email4 = 'abc@weniv.co.kr' # weniv
email5 = 'li.cat@weniv.co.kr' # weniv
print(email5.split('@')[1].split('.')[0])

'weniv'

# in 구문

In [ ]:
# is 는 is not 이고, in 은 not in
10 in [10, 20, 30]

True

In [ ]:
'h' in 'hello world'

True

In [ ]:
'world' in 'hello world'

True

In [ ]:
'hell' not in 'hello world'

False

In [ ]:
'wolf' not in 'hello world'

True

In [ ]:
a = {'key1': 'value1', 'key2': 'value2'} #딕셔너리
b = {10, 10, 20}
10 in b # 출력: True
{10} in b # 출력: False, 주의
{10, 20} in b # 출력: False, 주의

'key1' in a # 출력: True
'value1' in a # 출력: False
('key1', 'key2') in a # 출력: False
{'key1':'value1'} in a # error

TypeError: ignored

In [ ]:
'value1' in a.values()

# 연산자 우선순위

In [ ]:
-2 ** 2

-4

In [ ]:
True * True and True + False
# ((True * True) and (True + False))

1

In [ ]:
# 복합 할당 연산자가 가장 나중!
a = 10
a += 10 * 100
a

1010

In [ ]:
a = 10
a *= 10 + 100
a

1100

# 연습문제

In [ ]:
# 그리디 알고리즘
# 10000원짜리를 들고가서 1500원짜리 월드콘을 사먹었을 때, 거스름돈을 가장 적게 줄 수 있는 코드를 작성

거스름돈 = 10000 - 1500
print(거스름돈 // 5000, '5000원')
거스름돈 %= 5000
print(거스름돈 // 1000, '1000원')
거스름돈 %= 1000
print(거스름돈 // 500, '500원')
거스름돈 %= 500
print(거스름돈 // 100, '100원')
거스름돈 %= 100

1 5000원
3 1000원
1 500원
0 100원

# 함수

In [ ]:
def 부지매입():
    pass

def 설계도면작성():
    pass

def 인력모집():
    pass

def 벽돌쌓기():
    pass

def 지붕올리기():
    pass

부지매입()
설계도면작성()
인력모집()
벽돌쌓기()
지붕올리기()

In [26]:
#들여쓰기
def printnum(): #함수의 정의
    print('1')
    print('2')
    print('3')
    # return None

a = printnum()
print(a) #함수의 호출

1
2
3
None

In [39]:
# 함수의 종료 구분은 들여쓰기 기준이며
# return으로도 구분이 됩니다.
def printnum():
    print('1')
    return
    print('2')
print('3')
printnum()
print(printnum())

3
1
1
None

In [87]:
print(type(printnum))
type(printnum)
dir(printnum)

<class 'function'>

['__annotations__',
 '__builtins__',
 '__call__',
 '__class__',
 '__closure__',
 '__code__',
 '__defaults__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__get__',
 '__getattribute__',
 '__globals__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__kwdefaults__',
 '__le__',
 '__lt__',
 '__module__',
 '__name__',
 '__ne__',
 '__new__',
 '__qualname__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

In [85]:
a = None # None은 출력되지않음
a

In [ ]:
# 파선아실 파라미터는 선언할때 아규먼트는 실행할때
def function(x, y): # x, y = 파라미터
    z = x + y
    return z
print('function(5, 7)=', function(5, 7)) # 5, 7 = 아규먼트

In [35]:
# 함수 안에 함수
def f():
    def ff():
        return 100
    x = ff()
    return x
f()
# ff() 함수 내부에서 선언한 변수와 함수는 밖에서 호출할 수 없습니다.

100

In [36]:
# 함수를 아규먼트로 전달
def f(a, b):
    return a + b

def ff(a):
    return a(10, 20)

ff(f)

30

In [38]:
def f():
    pass # pass 는 종료가 아니라 없는 것으로 취급.
    print(1)

f()

1

In [40]:
def f(a, b, c):
    print(a, b, c)

# f() # error
# f(100, 10) # error
f(a=100, b=200, c=300)
f(c=300, a=100, b=200)

100 200 300
100 200 300

In [41]:
def f(a=10, b=20, c=30):
    print(a, b, c)

f()
f(100, 10)
f(a=100, b=200, c=300)
f(c=300, a=100, b=200)

10 20 30
100 10 30
100 200 300
100 200 300

In [ ]:
def f(a=10, b=20, c): # 이 코드는 가능하지 않습니다.
    print(a,b,c)

In [ ]:
def f(a, b=20, c=30): # 이 코드는 가능합니다.
    print(a, b, c)

# f() # error
# f(100, 10)
# f(a=100, b=200, c=300)
# f(c=300, a=100, b=200)
# f(c=300) # error

In [43]:
# a와 b를 더한 값과 a와 b를 뺀 값을 곱하는 함수를 만들어주세요.
# 조건1: a가 입력되지 않으면 0이 입력됩니다.
# 조건2: b가 입력되지 않으면 0이 입력됩니다.

def f(a=0, b=0):
    result = (a + b) * (a - b)
    return result

print(f(2, 3))

-5

In [44]:
def multiple(x=0, y=0):
    return x * y

def plus(x=0, y=0):
    return x + y

def minus(x=0, y=0):
    return x - y

multiple(plus(2,3), minus(2,3))

-5

In [45]:
# 지역변수와 전역변수
def f():
    inner_value = 100

print(inner_value) # Error

NameError: ignored

In [48]:
x = 100
def f():
    y = x + x
    return y

f()

200

In [51]:
x = 100
def f():
    x = 200
    return x

print(f())
print(x)

200
100

In [55]:
# global 사용후
a = 100
def f():
    global a
    a = a + 1
f()
a

101

In [58]:
a = 100
def f():
    a = a + 1 # Error
    return a
f()

UnboundLocalError: ignored

In [59]:
a = 100
def f():
    b = a + 1
    return b
f()

101

In [64]:
a = 10
def f():
    a = 100
    print(a)
    def ff():
        a = 1000
        print(a)
        def fff():
            a = 10000
            print(a)
        fff()
    ff()
f()
print(a)

100
1000
10000
10

In [65]:
# global을 하면 함수가 얼만큼 중첩되어 있건 최상단에 있는 a를 바라봅니다.
a = 10
def f():
    a = 100
    print(a)
    def ff():
        a = 1000
        print(a)
        def fff():
            global a
            print(a)
        fff()
    ff()
f()
print(a)

100
1000
10
10

In [67]:
# global을 사용하지 않고 중첩된 함수 내에서 a를 출력하게 되면 바로 위 함수의 a를 출력합니다.
a = 10
def f():
    a = 100
    print(a)
    def ff():
        a = 1000
        print(a)
        def fff():
            print(a)
        fff()
    ff()
f()
print(a)

100
1000
1000
10

In [72]:
# nonlocal
a = 10
def f():
    a = 100
    print(f'f a: {a}')
    def ff():
        a = 1000
        print(f'ff a: {a}')
        def fff():
            nonlocal a
            a = 100
            print(f'fff a: {a}')
        fff()
        print(f'ff a: {a}')
    ff()
f()
print(f'global a: {a}')

f a: 100
ff a: 1000
fff a: 100
ff a: 100
global a: 10

In [73]:
#sys.setrecursionlimit -> 제한을 늘릴 수 있음
def 숫자출력(count):
    if count > 100:
        return
    print(count)
    return 숫자출력(count+1) #값을 1부터 반복횟수 까지의 값을 출력

숫자출력(1)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [ ]:
# 재귀함수는 사용하지 마세요!(주니어 때)
# 위험하고 일부 효율이 좋지 않습니다.
# 반복문 <-> 재귀는 서로 상호 호환이 가능합니다.
# 반복문 사용하세요!

In [ ]:
# 상식 수준에서 다음 재귀는 외워야한다.
# 1. 팩토리얼
# 2. 문자열 뒤집기

In [74]:
def factorial(n):
    if n <= 1:
        return 1
    return n * factorial(n-1)

factorial(5)

120

In [77]:
def reversed_str(s):
    if len(s) <= 1:
        return s
    return reversed_str(s[1:]) + s[0]

reversed_str('hello')


# 함수 호출                 return
# reversed_str(s)         reversed_str(s[1:]) + s[0]
# reversed_str('hello')   reversed_str('ello') + 'h'
# reversed_str('ello)     reversed_str('llo') + 'e'
# reversed_str('llo')     reversed_str('lo') + 'l'
# reversed_str('lo')      reversed_str('o') + 'l'
# reversed_str('o')       'o'

'olleh'

In [81]:
# 팩토리얼 반복문으로 가능
n = 5
result = 1
for i in range(1, n+1):
    result *= i
result

120

In [83]:
# 문자열 뒤집기
s = 'hello'
result = ''
for i in s:
    result = i + result
    print(result)
result

h
eh
leh
lleh
olleh

'olleh'

# 함수 나아가기

In [91]:
def f():
    x = 'hello world'\
    .upper()\
    .replace(' ','')\
    .lower()
    return x
f()

'helloworld'

In [84]:
# 여러개의 값 반환하기

def f():
    a = 10
    b = 20
    c = 30
    return a, b, c

f()

(10, 20, 30)

In [93]:
print() # built-in function

def f(): # function
    pass

# 여기서 print와 f는 변수입니다.
# 변수는 가리키는 것입니다.
kimdonghu = print
kimdonghu('hello world')

hello world

In [96]:
# 변수처럼 아래처럼 관리할 수 있습니다.
x = 10
y = 20
l = [x, y]

def add(x, y):
    return x + y

def sub(x, y):
    return x - y

ll = [add, sub]
ll[0](10, 20) # add(10, 20)과 같습니다.

30

In [99]:
# 매우 중요!
add = lambda x, y : x + y
sub = lambda x, y : x + y
add(10, 20)
sub(10, 20)

30

In [101]:
test = lambda x : x ** 2
test(10)

def test2(x):
    return x ** 2

100

In [103]:
x = map(int, '1234')
# 1번째 수행 int('1')
# 2번째 수행 int('2')
# 3번째 수행 int('3')
# 4번째 수행 int('4')

for i in x:
    print(i)

for i in x: # 더 이상 순회가 안됩니다! 이 이유에 대해서는 뒤에서
    print(i)

1
2
3
4

In [105]:
def f(x):
    return x * 2

list(map(f, '1234'))

['11', '22', '33', '44']

In [107]:
list(map(lambda x:x*2, '1234'))

['11', '22', '33', '44']

# built-in function 총집합

In [112]:
# 모두 다 True여야 True 반환
all([True, True, True]) # T
all([True, True, False]) # F
all([1, 1, 1, 0]) # F
all([100, 10, -1]) # T

True

In [116]:
# 하나라도 True가 있으면 True 반환
any([True, False, False]) # T
any([False, False, False]) # F

False

In [127]:
# 10진수로 유니코드표에서 찾아 대응되는 값을 줍니다.
chr(65)
chr(97)
chr(54616)

'하'

In [128]:
# 문자를 입력하면 유니코드에서 숫자로 출력
ord('a')
ord('하')

54616

In [129]:
# 유니코드 표에서 값 확인
int('D558', 16)

54616

In [130]:
# 대문자는 소문자로, 소문자는 대문자로 바꾸는 코드를 만들어주세요.
# 'apple CEO UserDonghu'

In [132]:
map(lambda x: x**2, [1, 2, 3, 4]) # 계산 되기 전 object

In [134]:
list(map(lambda x: x**2, [1, 2, 3, 4])) # 계산 된 후 object

[1, 4, 9, 16]

In [137]:
list(filter(lambda x: x>10, [1, 2, 11, 12, 9, 6, 13]))

[11, 12, 13]

In [141]:
def filter_function(x):
    return x > 10

list(filter(filter_function, [1, 2, 11, 12, 9, 6, 13]))

[11, 12, 13]

In [143]:
list(zip('abc', '123'))

[('a', '1'), ('b', '2'), ('c', '3')]

In [145]:
list(zip('abc', '1234567', [10,20,30]))

[('a', '1', 10), ('b', '2', 20), ('c', '3', 30)]

In [148]:
# zip은 좌표계에서 자주 응용됩니다.
# https://codingdojang.com/scode/408?answer_mode=hide

S = [1, 3, 4, 8, 13, 17, 20]
list(zip(S, S[1:]))

[(1, 3), (3, 4), (4, 8), (8, 13), (13, 17), (17, 20)]

In [151]:
# 답
sorted(zip(S, S[1:]), key=lambda x:x[1]-x[0])[0]

(3, 4)

In [154]:
format(10000000, ',')

'10,000,000'

In [156]:
len('hello world')

11

In [157]:
max([1, 2, 3, 4, 5])

5

In [158]:
min([1, 2, 3, 4, 5])

1

In [159]:
sum([1, 2, 3, 4, 5])

15

In [162]:
max([(1, 2), (3, 101), (4, 20), (3, 100)])
max(['hello', 'world', 'world1'])

'world1'

In [166]:
sum([1, 2, 3], 10)

16

In [167]:
sum([[1, 2], [3, 101], [1, 20], [3, 100]],[])

[1, 2, 3, 101, 1, 20, 3, 100]

In [175]:
class Charactor:
    def __repr__(self):
        return 'hello'
    def __str__(self):
        return 'world'

hero = Charactor()
print(hero)
hero

world

hello

In [176]:
repr(hero)

'hello'

In [183]:
가수 = ['뉴진스', '르세라핌', '에스파', '아이브']
print(list(enumerate(가수)))
print(list(enumerate(가수, 1)))
print(list(enumerate(가수, 100)))

for i, j in enumerate(가수, 1):
    print(i, j)

[(0, '뉴진스'), (1, '르세라핌'), (2, '에스파'), (3, '아이브')]
[(1, '뉴진스'), (2, '르세라핌'), (3, '에스파'), (4, '아이브')]
[(100, '뉴진스'), (101, '르세라핌'), (102, '에스파'), (103, '아이브')]
1 뉴진스
2 르세라핌
3 에스파
4 아이브

In [191]:
print(type(print))
print(type(enumerate))
print(type(range))
print(type(max))
print(type(len))
print(type(format))
print(type(zip))
print(type(map))
print(type(filter))
print(type(int))
print(type(str))

<class 'builtin_function_or_method'>
<class 'type'>
<class 'type'>
<class 'builtin_function_or_method'>
<class 'builtin_function_or_method'>
<class 'builtin_function_or_method'>
<class 'type'>
<class 'type'>
<class 'type'>
<class 'type'>
<class 'type'>

In [199]:
# range(start, stop, step) 슬라이싱과 비슷한 형태
print(range(10)) # 값을 갖고 있지 않습니다.
print(list(range(10)))
x = range(10)
print(type(x))
print(list(range(0, 10, 2)))
print(list(range(10, 0, -2)))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
<class 'range'>
[0, 2, 4, 6, 8]
[10, 8, 6, 4, 2]

In [200]:
# Python 2.x에서 range와 그 외 값들에 대한 히스토리
# print(range(10))
# [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
# 메모리를 모두 차지해야함.

# print(range(1000000000000000))
# 메모리의 효율이 극도로 안좋아짐

# 그런데 3.x에서 range(100000000000000)는 값을 갖고 있지 않음
# 시작과 끝, 스텝값만 갖고 있기 때문에 메모리 낭비가 없음.

# 2.x에서도 3.x와 같은 range타입이 있었음. xrange문법. 이게 3.x되면서 range가 됨
# 2.x에서 사용가능 문법
# print(xrange(10)) 출력 : xrange(10)
# for i in xrange(10):
#   print(i)

In [203]:
list(reversed('hello world'))
list(reversed([1, 2, 3, 10, 5, 4])) # 역 정렬 아님. 역순임!

[4, 5, 10, 3, 2, 1]

In [205]:
list(reversed(sorted([1, 2, 3, 10, 5, 4])))

[10, 5, 4, 3, 2, 1]

In [208]:
# 매우 중요
# 알고리즘 문제에서 단골 built-in function
list(sorted([1, 2, 3, 100, 200, 5, 10, 20], reverse=True))

[200, 100, 20, 10, 5, 3, 2, 1]

In [211]:
sorted(['hello', 'l', 'hllo', 'hel', 'heo', 'a'], key=len)
# 위 코드는 sorted([5, 1, 4, 3, 3, 1])와 같습니다.

['l', 'a', 'hel', 'heo', 'hllo', 'hello']

In [223]:
data = [
    [2, 'hello world', 30],
    [3, 'hworl', 33],
    [4, 'hello w', 31],
    [5, 'hello wo', 35],
    [6, 'hello w', 39]
]

# 1번째 문제: 첫 번째 요소의 값으로 정렬하세요.
sorted(data)

# 2번째 문제: 두 번째 요소의 문자열 길이를 기준으로 정렬하세요.
sorted(data, key=lambda x: len(x[1]))
# sorted([11, 5, 7, 8, 7])를 정렬하는 것과 같음. 다만 숫자 값으로 반환하는게 아니라 object로 반환.

# 3번째 문제: 세 번째 요소 기준으로 정렬하세요.
sorted(data, key=lambda x:x[2])

# 4번째 문제: 첫번째 요소와 세 번째 요소의 차가 큰 순으로 정렬.
sorted(data, key=lambda x:abs(x[0]-x[2]), reverse=True)

[[6, 'hello w', 39],
 [3, 'hworl', 33],
 [5, 'hello wo', 35],
 [2, 'hello world', 30],
 [4, 'hello w', 31]]