<a href="https://colab.research.google.com/github/UserDongHu/Ormi3/blob/main/%EC%98%A4%EB%A5%B4%EB%AF%B83%EA%B8%B0_python_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 조건문

In [ ]:
if True:
    print('Hello')

Hello

In [ ]:
if False:
    print('Hello')

In [ ]:
if (True): # 이렇게 괄호를 안해도 됩니다
    print('hello')

hello

In [ ]:
if 10 and 9: # True나 False가 아니라 단락평가에 의해 9
    print('hello')

hello

In [ ]:
if 10: # True로 평가될 수 있는 것들도 들어갈 수 있다.
    print('hello')

hello

In [ ]:
if '': # F
    print('hello')

In [ ]:
if ' ': # T
    print('hello')

hello

In [ ]:
if []: # F
    print('hello')

In [ ]:
if -1: # T
    print("hello")

hello

# 삼항연산자

In [ ]:
x = 5
y = 10
result = 'x is greater' if x > y else 'y is greater or equal'
print(result) # 출력: 'y is greater or equal'

y is greater or equal

In [ ]:
[i if i % 2 == 0 else None for i in range(10)]

[0, None, 2, None, 4, None, 6, None, 8, None]

In [ ]:
[i for i in range(10) if i % 2 == 0]

[0, 2, 4, 6, 8]

In [ ]:
def f():
    return True

if f():
    print('Hello')

Hello

In [ ]:
# 성능에 영향을 끼침
def f():
    return False

def ff():
    x = 100 / 0 # Error
    return 'hello'

if f() and ff(): # f()가 False라서 단락평가에 의해 뒤에 ff()를 실행 안해서 에러가 안남
    print('Hello')

In [ ]:
my_function = lambda x: '짝수' if x % 2 == 0 else '홀수'
my_function(10)

'짝수'

In [ ]:
# assert문
x = 10
assert x > 0, '양수여야 한다!'

In [ ]:
# elif
score = 81
money = 0

if score >= 90:
    print('mom : i\'m so happy!')
    money += 1000000
elif score >= 80:
    print('mom : i\'m happy!')
    money += 100000
elif score >= 70 and score < 80:
    print('mom : i\'m so...!')
    money += 10000
elif score >= 60 and score < 70:
    print('mom : i\'m so...!')
    money += 1000
else:
    print('mom : i\'m...!')
print(money)

mom : i'm happy!
100000

In [ ]:
score = 81
money = 0

if score >= 90:
    print('mom : i\'m so happy!')
    money += 1000000
if score >= 80: # 어떤 의미가 내포되어 있나요? 90미만이라는 얘기가 하나 더 있는겁니다!
    print('mom : i\'m happy!')
    money += 100000
if score >= 70:
    print('mom : i\'m so...!')
    money += 10000
if score >= 60:
    print('mom : i\'m so...!')
    money += 1000
else:
    print('mom : i\'m...!')
print(money)

mom : i'm happy!
mom : i'm so...!
mom : i'm so...!
111000

In [ ]:
# if, elif, else는 한 묶음으로 만들어 줍니다!

In [ ]:
score = 81
money = 0

if score >= 90:
    print('mom : i\'m so happy!')
    money += 1000000
if 90 > score >= 80: # 어떤 의미가 내포되어 있나요? 90미만이라는 얘기가 하나 더 있는겁니다!
    print('mom : i\'m happy!')
    money += 100000
if 80 > score >= 70:
    print('mom : i\'m so...!')
    money += 10000
if 70 > score >= 60:
    print('mom : i\'m so...!')
    money += 1000
else:
    print('mom : i\'m...!')
print(money)

mom : i'm happy!
mom : i'm...!
100000

In [ ]:
# 위와 같이 하더라도 실행이 같지 않고
# if 뒤를 다 검사해야 하기 때문에 성능도 안좋다
# 적절하게 묶는 것은 매우 중요한 포인트.

In [ ]:
# if를 중첩해서 사용하기
movie = {
    '영화': '무빙',
    '장르': 'SF',
    '서비스': '디즈니',
    '비용': 15000,
    '평점': 4.9,
}

if movie['장르'] == 'SF':
    if movie['서비스'] == '디즈니'or movie['서비스'] == '넷플릭스':
        if movie['평점'] >= 4.5:
            if movie['비용'] <= 20000:
                print('영화시청')

영화시청

In [ ]:
movie = {
    '영화': '무빙',
    '장르': 'SF',
    '서비스': '디즈니',
    '비용': 15000,
    '평점': 4.9
}

if movie['장르'] == 'SF' and (movie['서비스'] == '디즈니' or movie['서비스'] == '넷플릭스') and movie['평점'] >= 4.5 and movie['비용'] <= 20000:
    print('영화시청')

영화시청

In [ ]:
# if를 중첩해서 사용하기
# 이정도가 깔끔하게 다듬어진 것입니다.
movie = {
    '영화': '무빙',
    '장르': 'SF',
    '서비스': '왓챠',
    '비용': 15000,
    '평점': 4.9
}

if movie['장르'] == 'SF':
    if movie['서비스'] == '디즈니' or movie['서비스'] == '넷플릭스':
        if movie['평점'] >= 4.5 and movie['비용'] <= 20000:
            print('영화시청')
    else:
        print(movie['서비스'] + ' 구독하기!')

왓챠 구독하기!

# match

In [ ]:
text = 'Hello World'
match text:
    case 'Hello':
        print('Hello')
    case 'World':
        print('World')
    case _:
        print('No Match') # 결과 'No Match'

No Match

In [ ]:
text = 'Hello'
match text:
    case 'Hello':
        print('Hello')
    case 'World':
        print('World')
    case _:
        print('No Match') # 결과 'No Match'

Hello

In [ ]:
text = 'hello'
match text:
    case 'Hello':
        print('Hello')
    case 'World':
        print('World')
print('end')

end

In [ ]:
# 작동하는 코드입니다.
text = 'Hello'
match text:
    case 'Hello' | 'World':
        print('World')
    case _:
        print('No Match')

World

In [ ]:
def test(i):
    match i:
        case 1:
            print('One')
        case 2:
            print('Two')
        case 3 | 4:
            print('Three or Four')
        case _ if i > 10:
            print('Greater than ten')
        case _:
            print('Other')

test(1) # 출력: One
test(2) # 출력: Two
test(3) # 출력: Three or Four
test(4) # 출력: Three or Four
test(5) # 출력: Other
test(15) # 출력: Greater than ten

One
Two
Three or Four
Three or Four
Other
Greater than ten

In [ ]:
def test(i):
    match i:
        case 1:
            print('One')
        case 2:
            print('Two')
        case _:
            if i > 2:
                print('Greater than two')
            else:
                print('Less than or equal to two')
test(1) # 출력: One
test(2) # 출력: Two
test(3) # 출력: Greater than two
test(4) # 출력: Greater than two

One
Two
Greater than two
Greater than two

In [48]:
# 연습문제
# match를 사용하여 아래 코드를 완성

def attack(attack_type, damage):
    match(attack_type):
        case '물리공격' | '마법공격':
            print(f'{damage}의 데미지를 입혔습니다.')
        case '정신공격':
            print('100ms 동안 상대방이 혼란을 느낍니다.')

attack('물리공격', 100)

100의 데미지를 입혔습니다.

# 반복문

In [52]:
for x in 'hello': # 순회 가능한 객체가 들어감
    print(f'현재 값은 {x}입니다.')

현재 값은 h입니다.
현재 값은 e입니다.
현재 값은 l입니다.
현재 값은 l입니다.
현재 값은 o입니다.

In [54]:
for x in (1, 2, 3, 4, 5):
    print(f'현재 값은 {x}입니다.')

현재 값은 1입니다.
현재 값은 2입니다.
현재 값은 3입니다.
현재 값은 4입니다.
현재 값은 5입니다.

In [67]:
d = {
    '하나' : 'one',
    '둘' : 'two',
    '셋' : 'three',
}

for k in d:
    print(k)

하나
둘
셋

In [72]:
d = {
    '하나' : 'one',
    '둘' : 'two',
    '셋' : 'three',
}

for k, v in d.items():
    print(f'{k}: {v}')

하나: one
둘: two
셋: three

In [78]:
for k in d:
    print(k, ': ', d[k], sep='', end=' ')

하나: one 둘: two 셋: three

In [85]:
# 1부터 100까지 더하는 코드
result = 0
for i in range(101):
    result += i
print(result)

# 1부터 100까지 짝수를 더하는 코드
# 권장하지 않는 코드 (100번 돌아야하고, if문도 봐야하고)
result = 0
for i in range(101):
    if i % 2 == 0:
        result += i
print(result)

# 권장하는 코드
# 순회도 반만 돌고, if문도 없음
result = 0
for i in range(0, 101, 2):
    result += i
print(result)

# 중첩 for를 조금 어렵게 표현
for i in [range(3), range(5), range(7)]:
    for j in i:
        print(j)

# 6이하 홀수들의 특이한 덧셈을 한다면
# 1 + 3이하의 수 + 5이하의 수
# 1 + 1 + 2 + 3 + 1 + 2 + 3 + 4 + 5 이렇게
result = 0
for i in [range(2), range(4), range(6)]:
    for j in i:
        result += j
print(result)

5050
2550
2550
0
1
2
0
1
2
3
4
0
1
2
3
4
5
6
22

In [101]:
# 문제
# s = '135678'
# 이때 구구단 1단, 3단, 5단, 6단, 7단, 8단을 출력하는 코드
s = '135678'
for i in s:
    for j in range(1, 10):
        print(f'{i} X {j} = {int(i)*j}', end="  ")
    print()

1 X 1 = 1  1 X 2 = 2  1 X 3 = 3  1 X 4 = 4  1 X 5 = 5  1 X 6 = 6  1 X 7 = 7  1 X 8 = 8  1 X 9 = 9
3 X 1 = 3  3 X 2 = 6  3 X 3 = 9  3 X 4 = 12  3 X 5 = 15  3 X 6 = 18  3 X 7 = 21  3 X 8 = 24  3 X 9 = 27
5 X 1 = 5  5 X 2 = 10  5 X 3 = 15  5 X 4 = 20  5 X 5 = 25  5 X 6 = 30  5 X 7 = 35  5 X 8 = 40  5 X 9 = 45
6 X 1 = 6  6 X 2 = 12  6 X 3 = 18  6 X 4 = 24  6 X 5 = 30  6 X 6 = 36  6 X 7 = 42  6 X 8 = 48  6 X 9 = 54
7 X 1 = 7  7 X 2 = 14  7 X 3 = 21  7 X 4 = 28  7 X 5 = 35  7 X 6 = 42  7 X 7 = 49  7 X 8 = 56  7 X 9 = 63
8 X 1 = 8  8 X 2 = 16  8 X 3 = 24  8 X 4 = 32  8 X 5 = 40  8 X 6 = 48  8 X 7 = 56  8 X 8 = 64  8 X 9 = 72

In [102]:
# 심화문제
# 특이한 구구단이 있다.
# [2, 3, 6] 이 있었을 때 아래와 같이 출력되어야 한다.
# 2 X 3 = 6
# 2 X 4 = 8
# 2 X 7 = 14
# 3 X 3 = 9
# 3 X 4 = 12
# 3 X 7 = 21
# 6 X 3 = 18
# 6 X 4 = 24
# 6 X 7 = 42
l = [2, 3, 6]
for i in l:
    for j in l:
        print(f'{i} X {j+1} = {i*(j+1)}')

2 X 3 = 6
2 X 4 = 8
2 X 7 = 14
3 X 3 = 9
3 X 4 = 12
3 X 7 = 21
6 X 3 = 18
6 X 4 = 24
6 X 7 = 42

In [103]:
# 하나만 리스트여도 쌍이면 상관없이 잘 돌아감
skill = [
        ('고기잡이', 100, 'SS'),
        ('고기팔기', 120, 'SSS'),
        ('낚시', 5, 'C'),
        ('통발', 5, 'C'),
        ('큰그물', 5, 'C')
]

for skillName, skillLevel, skillGrade in skill:
    print(skillName, skillLevel, skillGrade)

고기잡이 100 SS
고기팔기 120 SSS
낚시 5 C
통발 5 C
큰그물 5 C

In [106]:
영화누적관객수 = ['레미제라블', '뷰티풀사이트', '매트릭스', '인셉션', '어거스트 러쉬']
for i in enumerate(영화누적관객수):
    print(i)

for i, j in enumerate(영화누적관객수, 1):
    print(f'누적관객수 {i}위! {j}!')

(0, '레미제라블')
(1, '뷰티풀사이트')
(2, '매트릭스')
(3, '인셉션')
(4, '어거스트 러쉬')
누적관객수 1위! 레미제라블!
누적관객수 2위! 뷰티풀사이트!
누적관객수 3위! 매트릭스!
누적관객수 4위! 인셉션!
누적관객수 5위! 어거스트 러쉬!

In [ ]:
# __iter__() 이 매직 매서드가 없다? for문이 안된다! 순회가능한 객체가 아니다. 있다? for문이 된다! 순회가능한 객체다!

In [56]:
# 1부터 5까지의 값이 x에는 어떻게 들어가는 것 일까요?
x = iter('hello')
print(x)

<str_iterator object at 0x7cacfc5e1210>

In [58]:
print(next(x))

e

In [60]:
print(next(x))

l

In [63]:
print(next(x)) # StopIteration Error

StopIteration: ignored

In [65]:
x = 'hello'
y = x.__iter__() # iter('hello')

print(y.__next__()) # next('hello)
print(y.__next__())
print(y.__next__())
print(y.__next__())
print(y.__next__())
print(y.__next__())

h
e
l
l
o

StopIteration: ignored

# while문

In [107]:
# .py파일로 작성해서 실행해보세요.
import os

while True:
    userinput = input('>')
    if userinput == 'pwd':
        # print('현재 위치 출력')
        # print('\\'.join(__file__.split('\\')[:-1]))
        print(os.getcwd())
    elif userinput == 'dir' or userinput == 'ls':
        # print('현재 폴더에 폴더와 파일명 출력')
        print(os.listdir(os.getcwd()))
    elif userinput == 'exit':
        print('안녕히가세요.')
        break

KeyboardInterrupt: ignored

In [ ]:
import random

answer = random.randint(1, 1000)
while True:
    userinput = int(input('숫자를 입력해주세요.'))
    if userinput > answer:
        print('Down')
    elif userinput < answer:
        print('Up')
    else:
        print('축하합니다! 맞추셨어요!')
        break

In [112]:
import random

s = [1, 2, 3, 4, 5]
random.shuffle(s)
print(s)

[4, 3, 2, 1, 5]

In [113]:
# 왈러스 연산자
x = (n := 10) * 2 # n에 10을 할당하고 반환
print(x)  # 출력: 20
print(n)  # 출력: 10

20
10

In [ ]:
import random

while (x := random.randint(0, 10)) != 7:
    print(x)

# break, continue, pass

In [118]:
x = 0
while x < 10:
    print(x)
    if x == 5:
        break
    x += 1

0
1
2
3
4
5

In [ ]:
i = 2
j = 1
while i < 10:
    while j < 10:
        print(f'{i} X {j} = {i*j}')
        j += 1
    i += 1 # while문은 중첩해서 사용할 때 초기화가 필요
    j = 1

In [124]:
i = 2
while i < 10:
    j = 1 # 별표 5개! while문은 중첩해서 사용할 때 초기화가 필요합니다!
    while j < 10:
        if j == 3:
            break
        print(f'{i} X {j} = {i*j}')
        j += 1
    i += 1

2 X 1 = 2
2 X 2 = 4
3 X 1 = 3
3 X 2 = 6
4 X 1 = 4
4 X 2 = 8
5 X 1 = 5
5 X 2 = 10
6 X 1 = 6
6 X 2 = 12
7 X 1 = 7
7 X 2 = 14
8 X 1 = 8
8 X 2 = 16
9 X 1 = 9
9 X 2 = 18

In [122]:
try:
    for i in range(2, 10):
        for j in range(1, 10):
            if i * j > 6:
                raise StopIteration
            print(f'{i} X {j} = {i*j}')
except StopIteration:
    print("Done")

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
Done

In [125]:
# break은 바로 위 부모만 탈출
# coutinue는 아래 코드를 실행하지 않고 다음 루프로 넘어감
# pass는 없다고 생각하면 됨

# 반복문 else

In [127]:
for i in range(5):
    print(i)
else:
    print('end')

0
1
2
3
4
end

In [130]:
x = 5
while x < 10:
    x += 1
    print(x)
else:
    print('end')

6
7
8
9
10
end

In [1]:
x = 1
while x < 10:
    print(x)
    if x == 3:
        break
    x += 1
else:
    print('end')

1
2
3

In [1]:
data = [
  {
    "_id": "fd7e9a0f-e77b-436a-B781-119b66033d49",
    "index": "1",
    "name": "나주헌",
    "email": "user-tzctc1q@suspendisse.org",
    "phone": "010-5547-5841",
    "country": "과테말라",
    "address": "광나루로 99-2",
    "job": "유치원교사",
    "gender": "여성",
    "age": "43"
  },
  {
    "_id": "8ec6eabb-160a-41e4-A3de-cd33aff0b281",
    "index": "2",
    "name": "엄루다",
    "email": "user-1rz7xby@mi.org",
    "phone": "010-3963-9373",
    "country": "엘살바도르",
    "address": "석촌호수로 37-1",
    "job": "프로게이머",
    "gender": "남성",
    "age": "22"
  },
  {
    "_id": "bcf804f7-0452-4c31-B9d1-20cc2d38490b",
    "index": "3",
    "name": "형유환",
    "email": "user-ym96wth@have.net",
    "phone": "010-6389-9499",
    "country": "벨리즈",
    "address": "잠실로 33-3",
    "job": "아나운서",
    "gender": "남성",
    "age": "31"
  },
  {
    "_id": "11006f0d-e88d-41fc-A288-caa2e67927e7",
    "index": "4",
    "name": "위도현",
    "email": "user-tkxj6f5@diam.org",
    "phone": "010-4246-4752",
    "country": "바레인",
    "address": "종로 99-8",
    "job": "작곡가",
    "gender": "여성",
    "age": "42"
  },
  {
    "_id": "b7421487-da52-4410-B696-17bab958a5d8",
    "index": "5",
    "name": "유성재",
    "email": "user-bgxih63@Sed.net",
    "phone": "010-6359-7592",
    "country": "피지",
    "address": "방학로 71-3",
    "job": "연기자",
    "gender": "여성",
    "age": "48"
  }
]

In [3]:
# 문제 1번: 평균 나이를 출력해주세요.
age_sum = 0
count = 0
for i in data:
    age_sum += int(i['age'])
    count += 1
print(f'평균 나이는 {age_sum / count}세 입니다.')

# 문제 2번: 남녀 성비를 출력해주세요.
male = 0
female = 0
for i in data:
    if i['gender'] == '남성':
        male += 1
    else:
        female += 1
print(f'남녀 성비는 {male} : {female} 입니다')

평균 나이는 37.2세 입니다.
남녀 성비는 2 : 3 입니다

In [4]:
# 나이
# list(map(lambda x:x['age'], data))
ages = map(lambda x:x['age'], data)
ages = map(int, ages)
# list(ages) # map은 한번 순회가 돌면 다시 순회가 불가합니다.

In [5]:
ages = list(ages)
ages

[43, 22, 31, 42, 48]

In [6]:
sum(ages) / len(ages)

37.2

In [7]:
# 성별
gender = list(map(lambda x:x['gender'], data))
total = len(gender)
man = gender.count('남성')
woman = total - man
man/total * 100, woman/total * 100

(40.0, 60.0)

# 클래스

In [14]:
class Car: # 차의 설계 도면 또는 차 공장
    max_speed = 300
    max_people = 5
    car_gear = ['P', 'D', 'R', 'N']

    def start(self):
        print('차가 출발합니다!')

    def stop(self):
        print('차가 멈췄습니다!')

# 테슬라 공장에서 막 찍혀져 나온 자동차!
# 3대! model x, y, s!
modelx = Car()
modely = Car()
models = Car()

# Car.max_speed # modelx의 속도를 보고 싶으면 modelx.max_speed를 찍어야 합니다.

print(models.car_gear[1])
models.start()
models.stop()

# int, float, str과 같은 새로운 Car라는 type을 만들고 있는 것

D
차가 출발합니다!
차가 멈췄습니다!

In [18]:
print(type(models))
print(dir(models))

<class '__main__.Car'>
['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'car_gear', 'max_people', 'max_speed', 'start', 'stop']

In [19]:
x = int(3)
# 그럼 x는 무엇일까요?
# int라는 class의 인스턴스

In [21]:
# x = int(3) 여기서 넣었던 3이라는 값이 어떻게 처리되는지 확인
class Car:
    max_speed = 300
    max_people = 5
    car_gear = ['P', 'D', 'R', 'N']

    def __init__(self, name):
        self.name = name

    def start(self):
        print('차가 출발합니다!')

    def stop(self):
        print('차가 멈췄습니다!')

modelx = Car('Tesla Model X') # x = int(3) 여기서 넣었던 3이 __init__ 매직메서드에서 처리!
modelx.name

'Tesla Model X'

In [ ]:
class Person:
    name = 'jun' # 클래스 변수
    def __init__(self, name):
        self.name = name # 인스턴스 변수

hojun = Person('hojun')
hojun.name, Person.name

In [23]:
class Person:
    name = 'jun' # 클래스 변수
    def __init__(self, name):
        def hell():
            print('hello')
        self.name = name # 인스턴스 변수

hojun = Person('hojun')
hojun.name, Person.name

('hojun', 'jun')

In [24]:
# 실제 게임 코드
class Character:
    def __init__(self, name, role, hp, mp, power):
        self.name = name
        self.role = role
        self.hp = hp
        self.mp = mp
        self.power = power

    def attack(self):
        print('공격!')

    def defence(self):
        print('방어!')

hero_ironman = Character('아이언맨', '히어로', 100, 100, 100)
villain_thanos = Character('타노스', '빌런', 100, 100, 200)

In [26]:
class Car:
    max_speed = 300

    def __init__(self, name):
        self.name = name

    def start(self):
        print('차가 출발합니다!')

modelx = Car('Tesla Model X')
modelx.name

'Tesla Model X'

In [28]:
modelx.hello = 'hello world'

In [30]:
modelx.hello

'hello world'

In [33]:
def hello():
    print('hello wolrd')

print(type(hello))

<class 'function'>

In [35]:
hello.hi = 'hi, world'

In [38]:
hello.hi

'hi, world'

In [40]:
s = 10 # int str list dict 다 안됨
s.hi = 'hi, world'
s.hi

AttributeError: ignored

# 매직 메서드 (던더 메서드)

In [49]:
class Point:

    def __init__(self, x, y):
        self.x = x
        self.y = y

    def __add__(self, other):
        return Point((self.x + other.x), (self.y + other.y))

    def distance(self, other):
        dx = self.x - other.x
        dy = self.y - other.y
        return (dx**2 + dy**2)**0.5

dot1 = Point(10, 20)
dot2 = Point(20, 30)

dot3 = dot1 + dot2
print(dot3.x, dot3.y)
dot3.distance(dot1)

30 50

36.05551275463989

In [63]:
class Matrix:

    def __init__(self, value):
        self.value = value

    def __add__(self, other):
        result = []
        for i in range(len(self.value)):
            result.append(self.value[i] + other.value[i])
        return result

    def __mul__(self, other):
        if isinstance(other, int):
            return [i*other for i in self.value]
        raise TypeError('int형 외 곱을 허락하지 않습니다.')

m1 = Matrix([10, 20, 30])
m2 = Matrix([20, 30, 40])

m1 * [1, 2]

TypeError: ignored