In [2]:
# 실습1
import sqlite3

conn = sqlite3.connect('ex1.db')
c = conn.cursor()

c.execute('''
CREATE TABLE books (id integer, title text, price integer)
''')

c.execute('''
INSERT INTO books VALUES (1, 'python가이드', 5000)
''')
c.execute('''
INSERT INTO books VALUES (2, 'js가이드', 5000)
''')

conn.commit()
conn.close()

In [4]:
conn = sqlite3.connect('ex1.db')
c = conn.cursor()

# 데이터 조회
for row in c.execute('SELECT * FROM books ORDER BY id'):
    print(row)

# 연결 종료
conn.close()

(1, 'python가이드', 5000)
(2, 'js가이드', 5000)

In [5]:
# 실습2
import sqlite3

conn = sqlite3.connect('ex2.db')
c = conn.cursor()

c.execute('''
    CREATE TABLE books (id integer, title text, price integer)
''')
for i in range(10):
    c.execute(f"INSERT INTO books VALUES ({i}, 'python 가이드', 5000)")

conn.commit()
conn.close()

In [7]:
conn = sqlite3.connect('ex2.db')
c = conn.cursor()

# 데이터 조회
for row in c.execute('SELECT * FROM books ORDER BY id'):
    print(row)

# 연결 종료
conn.close()

(0, 'python 가이드', 5000)
(1, 'python 가이드', 5000)
(2, 'python 가이드', 5000)
(3, 'python 가이드', 5000)
(4, 'python 가이드', 5000)
(5, 'python 가이드', 5000)
(6, 'python 가이드', 5000)
(7, 'python 가이드', 5000)
(8, 'python 가이드', 5000)
(9, 'python 가이드', 5000)

In [8]:
# 실습 3
import sqlite3

data = {
    'id': [1, 2, 3],
    'title': ['1', '2', '3'],
    'content': ['11', '22', '33', '44', '55']
}

# 데이터베이스에 연결
conn = sqlite3.connect('ex3.db')

# 커서 생성
cursor = conn.cursor()

# post 테이블 생성
cursor.execute('CREATE TABLE post (id INTEGER, title TEXT, content TEXT)')

# 데이터 삽입
for i in range(len(data['id'])):
    cursor.execute('INSERT INTO post VALUES (?, ?, ?)', (data['id'][i], data['title'][i], data['content'][i]))

# 커밋(변경 사항 저장)
conn.commit()

# 연결 닫기
conn.close()

In [9]:
conn = sqlite3.connect('ex3.db')
c = conn.cursor()

# 데이터 조회
for row in c.execute('SELECT * FROM post'):
    print(row)

# 연결 종료
conn.close()

(1, '1', '11')
(2, '2', '22')
(3, '3', '33')

In [10]:
# 여기까지 되었다면
# 데이터(크롤링 데이터, JSON 데이터, CSV 데이터)를 가지고
# 1. 직접 쿼리를 사용해서 Django DB에 넣는 것이 가능합니다!
# 2. db load를 사용해서 Django DB에 넣는 것이 가능합니다!
# 3. ORM을 사용해서 넣는 것도 가능합니다!

In [11]:
conn = sqlite3.connect('db.sqlite3')
c = conn.cursor()

for row in c.execute('SELECT * FROM blog_movie'):
    print(row)

conn.close()

In [12]:
conn = sqlite3.connect('db.sqlite3')
c = conn.cursor()

for row in c.execute('SELECT * FROM blog_post'):
    print(row)

conn.close()

(1, '1', '11', '', '', '2023-10-23 04:14:53.618809', '2023-10-23')
(2, '2', '22', 'blog/images/2023/10/23/sample.jpg', 'blog/files/2023/10/23/sample.mp4', '2023-10-23 04:15:12.338170', '2023-10-23')
(3, '3', '33', 'blog/images/2023/10/23/sample_bMsNNSy.jpg', 'blog/files/2023/10/23/sample_K3XNIQq.mp4', '2023-10-23 04:15:23.196644', '2023-10-23')
(4, 'hello world 6', '44', '', '', '2023-10-22 05:27:42.857132', '2023-10-22')
(5, '5', '55', '', '', '2023-10-22 05:27:42.857132', '2023-10-22')

In [13]:
import requests
from bs4 import BeautifulSoup

url = 'https://paullab.co.kr/bookservice/'
response = requests.get(url)
response.encoding = 'utf-8'
html = response.text

soup = BeautifulSoup(html, 'html.parser')
data = []

book_list = soup.select('.book_name')        # lecture 클래스 탐색
for lecture in book_list:
    data.append([lecture.text, 10])

data

[['메모혁신 Notion(노션) 활용 가이드', 10],
 ['이력서 작성 가이드', 10],
 ['제주코딩베이스캠프 Code Festival: Python 100제 1부', 10],
 ['튜토리얼로 배우는 HTML&CSS', 10],
 ['코딩도장 튜토리얼로 배우는 Python 1편 object', 10],
 ['코딩도장 튜토리얼로 배우는 python 2편 제어문', 10],
 ['코딩도장 튜토리얼로 배우는 Python 문제풀이', 10],
 ['타노스의 건틀릿 알고리즘 With Python', 10],
 ['xlsxwriter 튜토리얼로 배우는 Python 엑셀 프로그래밍', 10],
 ['러플 튜토리얼로 배우는 Python', 10],
 ['인공지능을 활용한 업무자동화 With Google Developers Group JEJU', 10]]